<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=locals.title ? title : 'Error' %></title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body class="wrapper-error">
    <div class="container">
      <header>
        <h1>Oops! An error has occurred.</h1>
      </header>
      <main class="content-error">
        <div>
          <% if (locals.error) { %>
          <h2 class="uppercase">The server returned:</h2>
          <h3>
            "<%= error.code %>
            <%= error.message %>"
          </h3>
          <% } %>
          <p>
            Something is broken. Please let us know what you were doing when
            this error occured. We will fix it as soon as possible. Sorry for
            any inconvenience caused.
          </p>
          <a class="edit link-404" href="/">Back to Home</a>
        </div>
        <img src="/assets/images/error.svg" alt="" width="200" height="200" />
      </main>
    </div>
  </body>
</html>
