<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not found</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body class="wrapper-404">
    <div class="container">
      <header>
        <h1>Oops! Page Not Found.</h1>
      </header>
      <main class="content-404">
        <div>
          <h2 class="uppercase">
            We can't seem to find the page you are looking for.
          </h2>
          <a class="edit link-404" href="/">Back to Home</a>
        </div>
        <img src="/assets/images/404.svg" alt="" width="200" height="200" />
      </main>
    </div>
  </body>
</html>
