/* Reset some default browser styles */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  border: none;
  font-family: 'Arial', sans-serif;
}

body {
  min-height: 100dvh;
  background-color: #f7f9fc;
  color: #333;
  line-height: 1.6;
}

h1 {
  margin-bottom: 20px;
  color: #444;
  font-size: 2.5em;
}

h2 {
  margin-bottom: 10px;
  color: #555;
  font-size: 1.5em;
}

p,
input,
textarea {
  margin-bottom: 20px;
}

p {
  margin-top: 20px;
}

small {
  margin-bottom: 20px;
  display: block;
  color: #888;
}

input,
textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  border-color: #007bff;
}

a,
button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  transition: background-color 0.3s;
}

button.full-width {
  width: 100%;
  display: block;
  text-align: center;
}

a,
button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

a.neutral-dark {
  margin-bottom: 20px;
  display: inline-flex;
  background-color: #777;
  &:hover {
    background-color: #444;
  }
}

a.edit {
  margin-right: 10px;
  background-color: #007bff;
}

a.edit:hover {
  background-color: #0056b3;
}

a.delete {
  background-color: #e74c3c;
}

a.delete:hover {
  background-color: #c0392b;
}

a.outline {
  margin-right: 10px;
  outline: 1px solid #007bff;
  background-color: transparent;
  color: #007bff;
  transition: all 0.3s;
}

a.outline:is(:hover, :focus-visible) {
  background-color: #0056b3;
  color: #ffffff;
}

.container {
  margin: 50px auto;
  padding: 20px 40px;
  width: min(90%, 800px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.header-actions {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.searchForm-field {
  position: relative;
  overflow: hidden;
}

.searchForm-btn {
  position: absolute;
  top: 50%;
  right: 20px;
  translate: 50% -50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

#searchForm {
  padding: 10px 0;
  max-width: 400px;
  flex-grow: 1;
}

#search {
  margin: 0;
  padding-right: 40px;
  line-height: 1.6;
}

#newPostBtn {
  padding: 10px 15px;
  background-color: #2ecc71;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

#newPostBtn:hover {
  background-color: #27ae60;
}
